body {
  background: gainsboro;
}

pre {
  background: white;
  font-size: 10px;
  width: 64rem;
  max-width: 100%;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow-x: scroll;
}
